@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "About Me";
}



<h1>Rachel Wittwer Perry</h1>

<img src="img/DSC06289.jpg" />
<p>In IS 413 this semester, I hope to learn as much as I can about web applications. I am looking forward to learning more about Bootstrap, jQuery, and other libraries that we will be using for our web apps. One thing that stands out to me in the course outcomes for this class is that confidence in being able to "figure things out" will be increased, and I hope this is the case! A lot of what we will be learning in this class I am unfamiliar with and have never heard of before, so I am excited to learn more.</p>
<br />

<h3>Top 3 Jobs to Pursue After Graduation:</h3>
<ul>
    <li>1. Web Developer</li>
    <li>2. Data Analyst</li>
    <li>3. Fraud and Security Consultant/Researcher (or something)</li>
</ul>


